<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update req</title>
     <link rel="stylesheet" href="/styleedit.css">
</head>
<body>
    <div class="edit-container">
    <h1>Edit Post</h1>

    <p>post username: @ <%= post.username %></p>

    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content"><%= post.content %></textarea>
        <br>
        <button class="edit-btn">Submit</button>
    </form>
</div>
</body>
</html>